    /* Googlefonts */
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 14px;
    }
    /*Edited the body  background*/
    /*   body {
        width: 100%;
        height: 100%;
       /* background-image: url("../img/wmsu-campus.jpg");
        background-repeat: no-repeat;
    }
    /*Edited the body  background*/
    
    .login-container {
        width: 100%;
        height: calc(100vh);
        display: flex;
        align-items: center;
        justify-items: center;
        overflow: hidden;
        background-image: url("../img/wmsu-campus.jpg");
        background-attachment: fixed;
        background-repeat: calc(100);
    }
    /*Edited the body  background*/
    
    footer {
        display: block;
    }
    
    .footer {
        margin: 10px;
        width: 100%;
        padding: 100px;
        display: flex;
        background-color: DarkSalmon;
        color: white;
    }
    
    .footer div {
        text-align: center;
    }
    /* header edit and footer added*/
    
    .header {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7))(rgba(4, 9, 30, 0.7), url("../img/wmsu-campus.jpg"));
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    .col2 {
        flex-grow: 2;
    }
    
    .footer div h3 {
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }
    
    .footer div col3 {
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }
    
    .col1 {
        display: block;
        text-decoration: none;
        color: #efefef;
        margin-bottom: 10px;
    }
    
    .col2 {
        display: block;
        text-decoration: none;
        color: #efefef;
        margin-bottom: 10px;
    }
    
    .col3 {
        display: block;
        text-decoration: none;
        color: #efefef;
        margin-bottom: 10px;
    }
    
    .title {
        text-transform: uppercase;
        color: #333;
        text-align: center;
        font-size: 120%;
        padding-bottom: 20px;
    }
    
    .divider {
        border: 0;
        border-bottom: 2px solid rgb(70, 70, 70);
        width: 100%;
        margin: 20px 0;
    }
    
    .button {
        background-color: #78101c;
        color: white;
        border: none;
    }
    
    .button:hover {
        opacity: 0.9;
    }
    
    .error {
        color: #c51244;
        text-align: center;
        line-height: 20px;
        padding-top: 8px;
    }
    
    .login-form .divider {
        margin-top: 30px;
    }
    
    .login-form .button {
        margin-top: 10px;
        line-height: 27px;
    }
    
    .login-form {
        max-width: 400px;
        padding: 30px;
        margin: 0 auto;
        background-color: white;
        border-radius: 2%;
    }
    
    .login-form .logo-details {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .login-form .logo-details i {
        font-size: 40px;
        font-weight: 800;
        color: #dc3838;
        text-align: center;
        padding-right: 5px;
    }
    
    .login-form .logo-details .logo-name {
        color: #107869;
        font-size: 36px;
        font-weight: 500;
    }
    
    input,
    select {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border-radius: 6px;
        box-sizing: border-box;
        border: 1px solid black;
    }
    
    input[type=radio] {
        width: auto;
    }
    
    label {
        margin-right: 20px;
    }
    
    .side-bar {
        position: fixed;
        width: 250px;
        height: calc(100vh);
        overflow: hidden;
        background-color: #107869;
    }
    
    .side-bar .logo-details {
        height: 80px;
        display: flex;
        align-items: center;
    }
    
    .side-bar .logo-details i {
        font-size: 28px;
        font-weight: 800;
        color: #fff;
        min-width: 60px;
        text-align: center;
    }
    
    .side-bar .logo-details .logo-name {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }
    
    .side-bar .nav-links {
        height: calc(100vh);
    }
    
    .side-bar .nav-links li {
        position: relative;
        list-style: none;
        height: 50px;
        width: 100%;
    }
    
    .side-bar .nav-links li a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .side-bar .nav-links .active {
        background-color: #1A5653;
    }
    
    .side-bar .nav-links li a:active {
        background-color: #1A5653;
    }
    
    .side-bar .nav-links li a:hover {
        background-color: #1A5653;
    }
    
    .side-bar .nav-links li i {
        min-width: 60px;
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
    
    .side-bar .nav-links li a .links-name {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
    }
    
    .side-bar .nav-links .line {
        margin: 10px auto;
        width: 90%;
        height: 1px;
        border: 0;
        border-top: 1px solid white;
    }
    /* Add a black background color to the top navigation */
    
    .topnav {
        background-color: gray;
        overflow: hidden;
        height: 50%;
    }
    /* Style the links inside the navigation bar */
    
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    /* Change the color of links on hover */
    
    .topnav a:hover {
        background-color: #ddd;
        color: rgb(232, 52, 52);
    }
    /* Add a color to the active/current link */
    
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }
    /*space trial for erroors plss noted*/
    
    .home-section {
        position: relative;
        width: calc(100% - 250px);
        left: 250px;
    }
    
    .home-section nav {
        display: flex;
        justify-content: space-between;
        height: 80px;
        background-color: #fff;
        align-items: center;
        position: fixed;
        width: calc(100% - 250px);
        left: 250px;
        z-index: 999;
        box-shadow: 0 1px 1px;
        padding: 0 20px;
    }
    
    .home-section nav .side-bar-button {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
    }
    
    nav .side-bar-button i {
        font-size: 35px;
        margin-right: 10px;
    }
    
    .home-section nav .profile-details {
        display: flex;
        align-items: center;
        background: #f5f6fa;
        border: 2px solid #efeef1;
        border-radius: 6px;
        height: 50px;
        min-width: 170px;
    }
    
    .home-section nav .profile-details i {
        font-size: 25px;
        font-weight: 500;
        color: #333;
        margin: 0 10px;
        white-space: nowrap;
    }
    
    .table-title {
        font-weight: solid;
        font-size: 20px;
        text-align: left;
        color: #333;
        margin: 20px 0;
        display: inline;
    }
    
    .table-container {
        position: relative;
        top: 80px;
        padding: 40px;
    }
    
    .table {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: left;
        vertical-align: middle;
        width: 100%;
        overflow: auto;
    }
    
    th,
    td {
        padding: 8px;
        font-size: 14px;
    }
    
    thead {
        background-color: #333;
        color: white;
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 2%;
    }
    
    thead th {
        width: auto;
        height: fit-content;
    }
    
    tbody tr:nth-child(odd) {
        background-color: #fff;
    }
    
    tbody tr:nth-child(even) {
        background-color: #eee;
    }
    
    tr .action,
    th .action {
        text-align: center;
    }
    
    tr div.action {
        display: flex;
        justify-content: center;
    }
    
    td a {
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        margin: 4px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }